%h1 Listing questions

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @questions.each do |question|
      %tr
        %td= link_to question.title, question
        %td= link_to '編集', edit_question_path(question)
        %td= link_to '削除', question, method: :delete, data: { confirm: 'よろしいですか？' }

%br

= link_to '質問を書く', new_question_path
