.row
  - if user_signed_in?
    .col-5
      %h3 質問
    .col-2
      = link_to "質問する", new_loggedin_question_path(current_user), class: "btn btn-primary"
  - else
    .col-5
      %h3 すべての質問
%hr
=render "question_list", questions: @questions
