%h1=@question.title

=render "tag_list", tags: @question.tag_list

.container.mt-2
  .content=@question.content

  - if current_user == @question.user
    = link_to '編集', edit_user_question_path(current_user, @question)
    \|
    = link_to '削除',
         user_question_path(@question.user, @question),
         method: :delete, data: { confirm: 'よろしいですか？' }
    \|
  %hr/
  =render 'answers/answer_list', question: @question

  - if user_signed_in?
    =render template: 'answers/new'
  %hr/
  = link_to '質問一覧', questions_path

