%h1=@question.title

=render "tag_list", tags: @question.tag_list

.container.mt-2
  .content=@question.content

  - if current_user == @question.user
    = link_to '編集', edit_loggedin_question_path(@question)
    \|
    = link_to '削除',
         loggedin_question_path(@question),
         method: :delete, data: { confirm: 'よろしいですか？' }
    \|
  %hr/
  =render 'answers/answer_list', question: @question

  - if user_signed_in?
    = link_to "upvote", upvote_loggedin_question_path(@question), method: :put
    -#= link_to "upvote", vote_link_path, method: :put

    =render template: 'answers/new'
  %hr/
  = link_to '質問一覧', questions_path

