= form_with(model: [:loggedin, @answer.question, @answer], local: true) do |f|
  - if @answer.errors.any?
    #error_explanation.alert.alert-danger
      %ul
        - @answer.errors.full_messages.each do |message|
          %li= message

  .answers-box
    .field
      = f.text_area :content, id: :answer_body, placeholder: "回答", class: 'form-control'
    .actions.text-right
      = f.submit '投稿する', class: 'btn btn-primary mt-1'
