%ul.list-group
  - if user_signed_in?
    %li
      =link_to 'ログアウト', destroy_user_session_path, method: :delete
      =link_to current_user.name, user_path(current_user)
  - else
    %li
      =link_to 'ログイン', new_user_session_path
