%ul.listgroup
  %li.list-group-item
    =link_to "ホーム", root_path
  %li.list-group-item
    =link_to "質問", questions_path
  %li.list-group-item
    =link_to "タグ", tags_path
  %li.list-group-item
    =link_to "ユーザー", users_path
